@font-face {
    font-family: 'sf_pro';
    src: url('/public/fonts/SF-Pro-Text-Regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'great_vibes';
    src: url('/public/fonts/GreatVibes-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'adlery_swash';
    src: url('/public/fonts/Adlery-Swash.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'tajawal';
    src: url('/public/fonts/Tajawal-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'tajawal';
    font-weight: bold;
    src: url('/public/fonts/Tajawal-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'berkshire_swash';
    src: url('/public/fonts/BerkshireSwash-Regular.ttf') format('truetype');
  }
  