@font-face {
  font-family: "Great Vibes";
  src: url(../public/fonts/GreatVibes-Regular.ttf) format("truetype");
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: "El Messiri", sans-serif;
}

button {
  min-width: 181px;
}

h1.title {
  color: #ffe9e3;
  font-family: "Great Vibes", cursive;
  font-size: 5.5em;
  font-weight: 500;
  text-align: center;
  margin-top: 3.3em;
}

h4 {
  font-family: "Great Vibes", cursive;
  margin: 0 0 0.2em 0;
  font-weight: 500;
  font-size: 1.5em;
}

h3 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0.5em 0;
  color: #cba135;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}

h2.subtitle {
  color: #cba135;
  font-weight: lighter;
  font-family: 'Sansita Swashed', cursive;
  margin-top: -1em;
  font-size: 4em;
  font-stretch: ultra-expanded !important;
}

h2.title {
  margin-bottom: 0.2em;
}

h2.title-floral {
  margin-bottom: 0.2em;
  margin-top: 0em;
  padding-top: 2em;
}

.font-great-vibes{
  font-family: "Great Vibes", cursive;
}

img.floral {
  width: 50%;
  max-width: 35em;
  min-width: 20em;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(180deg);
  position: absolute;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-100{
  width: 100%;
}
.width-70 {
  width: 70%;
}
.width-80{
  width: 80%;
}
.padding-top-1{
  padding-top: 1%;;
}
.padding-bottom-1{
  padding-bottom: 1%;;
}

.child-div{
  position: relative;
overflow: hidden;
z-index: 0;
}
h4.child-div{
  position: relative;
overflow: hidden;
z-index: 0;
width: 150px;
}

.title-container {
  display: contents;
  width: 100%;
  align-items: center;
  align-content: center;
}

div.form-container {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 2em;
}

.error-form-input {
  color: red;
  margin-top: 0.5em;
}

.form-input-label {
  font-size: 1.4em;
  font-weight: bold;
  padding-right: 0.8em;
}

.form-input-label2 {
  font-family: 'Sansita Swashed', cursive;
  color: #cba135;
  font-size: 1em;
  font-weight: bold;
  padding-right: 0.3em;
  width: 100%;
}


.form-input-text {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #cba135;
  font-size: 1em;
  height: 1em;
  outline: none;
  padding: 0.6em 0.8em;
  transition: box-shadow 150ms ease;
  margin-right: 1.5em;
}

.form-input-select {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #cba135;
    font-size: 1em;
    height: 1.5em;
    outline: none; 
    transition: box-shadow 150ms ease;
    padding: 0em 0.5em;
}

button.form-button {
  padding: 0.8em 1em;
  align-self: center;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100% repeat(2, auto) minmax(166px, auto);
  grid-template-areas:
    "content0"
    "content1"
    "content2"
    "content3";
}

.container-one-columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
  max-width: 900px;
  padding: 1em;
}

.container-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
  max-width: 700px;
  padding: 1em;
}

.container-two-columns-750break {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
  max-width: 900px;
  padding: 1em;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.container-one-column{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
  max-width: 900px;
  padding: 1em;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

section.padding-bottom-2 {
  padding-bottom: 2em;
}

.title-container-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.5em;
  margin: auto;
  max-width: 700px;
  line-height: 2em;
}

title-container-two-columns-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
  max-width: 700px;
}

.container-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
  max-width: 900px;
  padding: 1em;
}

.container-four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
  max-width: 900px;
  padding: 1em;
  justify-items: center;
  align-items: center;
}

.card-icon {
  position: absolute;
  width: 7em;
  z-index: -1;
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.width95 {
  width: 95%;
}

.background {
  background-image: url("/img/Cover-Final.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.floral-img {
  width: 50%;
  max-width: 600px;
  min-width: 20em;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(180deg);
  position: absolute;
}
.countdown-number {
  color: #cba135;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0.2em;
}
.countdown-div {
  color: #c7a298;
  font-size: 1.5em;
  text-align: center;
}
.cards-div {
  border: none;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  font-family: "El Messiri", sans-serif;
  line-height: 1.5em;
  padding: 1em;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.column-content-div-left{
  z-index: 0;
  position: relative;
  text-align: left;
}
.column-content-div-right{
  z-index: 0;
  position: relative;
  text-align: right;
}

.cards-margin-bottom{
  margin-bottom: 1.5em;
}
.content0 {
  grid-area: "content0";
}

.content1 {
  background-color: #fff1ed;
  grid-area: content1;
  padding-top: 2em;
  padding-bottom: 10em;
}
.content2 {
  grid-area: content2;
  background-color: #ffcaba;
  padding-bottom: 4em;
}
.content3 {
  grid-area: content3;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.sideContent {
  width: 100%;
  margin-right: 5%;
}
.sideImg {
  width: 50%;
  float: left;
}
.image {
  width: 100%;
}
.font-taj-bold {
  font-family: "El Messiri", sans-serif;
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}
.margin-bottom-1{
  margin-bottom: 1em;
}
.margin-top-0{
  margin-top: 0;
}

.margin-bottom-half{
  margin-bottom: 0.5em;
}
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

ul.two-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding-left: 15%;
}

.content2Button {
  background-color: #cba135;
  color: #ffcaba;
  font-size: 1em;
}

.content1Button {
  background-color: #cba135;
  color: #fff3e6;
  font-size: 1em;
}

.toast-background {
  background-color: #3da241;
}

.toast-background-err {
  background-color: #e74c3c;
}

.toast-body {
  color: #fff;
  font-family: "El Messiri", sans-serif;
  font-size: 1.2em;
}

.toast-progress {
  background: linear-gradient(-12deg, #afe6cd, #bbd487);
}

.toast-progress-err {
  background: linear-gradient(116deg, #f3f0c7, #eab75f);
}

p.story {
  color: #6f6e77;
  font-family: "El Messiri", sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: auto;
  max-width: 750px;
  padding: 0 2em;
  text-align: center;
}

.button-style {
  font-weight: bold;
  outline: none;
  padding: 1em 2em;
  border: #cba135 solid 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.button-gold {
  background-color: #cba135;
  font-size: 1em;
  border: #cba135 solid 3px;
}

.button-gold:hover {
  background-color: rgba(255, 233, 227, 0.5);
  color: #cba135;
}
.button-pink-hover:hover {
  background-color: #ffdfd5;
  color: #cba135;
}
.button-light-gold-hover:hover {
  background-color: #fff1ed;
  color: #cba135;
}

.color-light-pink {
  color: #ffdfd5;
}

.color-light-gold {
  color: #fff1ed;
}

.color-pink {
  color: #ffcaba;
}

.background-color-pink {
  background-color: #ffcaba;
}

.background-color-light-pink {
  background-color: #ffdfd5;
}

.color-white {
  color: #ffe9e3;
}

.color-gold {
  color: #cba135;
}

.bold {
  font-weight: bold;
}

.underline:hover {
  text-decoration: underline;
}
.top-padding-sm {
  padding-top: 1em;
}
.title-gold {
  color: #cba135;
  font-weight: bold;
  text-decoration-color: #cba135;
  z-index: 2;
}

@media (max-width: 320px) {
  .card-icon {
    position: absolute;
    width: 5em;
    z-index: -1;
  }
}

@media (max-width: 885px) {
  .container-three-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    max-width: 500px;
    padding: 1em;
  }
}
.pointer-on-hover:hover {
  cursor: pointer;
}
p.margin-form {
  margin: 0.5em;
}

.container-img-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
  max-width: 1300px;
  padding: 1em;
}

.img-column {
  margin-right: -20px;
}

div.side-img {
  width: 100%;
  position: relative;
  margin: auto;
}

div.faded-side-img {
  width: 95%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 10px 20px #fff1ed;
  padding-right: 5%;
}

@media (max-width: 900px) {
  .container-img-two-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    max-width: 800px;
    padding: 1em;
  }
  .img-column {
    margin-right: -22px;
    margin-top: 14px;
  }
}

@media (max-width: 750px) {
  .container-two-columns-750break {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    max-width: 500px;
    padding: 1em;
    height: 1650px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .hide-750break{
    display: none;
  }
}

@media (max-width: 600px) {
  h1.title {
    font-size: 4.5em;
    margin-top: 0.3em;
    font-weight: normal;
  }

  p.story {
    padding: 0 1em;
  }

  .container-two-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    max-width: 400px;
    padding: 1em;
  }

  .column-content-div-left{
    text-align: center;
  }
  .column-content-div-right{
    text-align: center;
  }

  .container-three-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    max-width: 300px;
    padding: 1em;
  }
  .container-four-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    padding: 1em;
  }

  .card-icon {
    position: absolute;
    width: 7em;
    z-index: -1;
  }

  .title-container-two-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    max-width: 700px;
    justify-content: center !important;
    justify-items: center;
  }

  .img-column {
    margin-right: -14px;
    margin-top: 14px;
  }

  .text-column {
    margin-top: -100px;
  }
}

.modal-content {
  -webkit-box-shadow: -1px 1px 5px 9px #333;
  -moz-box-shadow: -1px 1px 5px 9px #333;
  box-shadow: -1px 1px 50px 1px #333;
  background: #fff3e6 !important;
  padding: 1em;
  min-width: 400px;
}

.modal2-content {
  -webkit-box-shadow: -1px 1px 5px 9px #333;
  -moz-box-shadow: -1px 1px 5px 9px #333;
  box-shadow: -1px 1px 50px 1px #333;
  background: #fff3e6 !important;
  padding: 1em;
  min-width: 400px;
  width: 70% !important;
}

.modal2-body {
  max-width: 95%;
  background-color: #fff3e6 !important;
  padding: 5%;
}

.modal-body {
  max-width: 95%;
  background-color: #fff3e6 !important;
  padding: 5%;
}

.modal-body img {
  width: auto;
  height: 150px;
}
