@font-face {
  font-family: 'sf_pro';
  src: url('/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'great_vibes';
  src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'adlery_swash';
  src: url('/fonts/Adlery-Swash.ttf') format('truetype');
}

@font-face {
  font-family: 'tajawal';
  src: url('/fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'tajawal';
  font-weight: bold;
  src: url('/fonts/Tajawal-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'berkshire_swash';
  src: url('/fonts/BerkshireSwash-Regular.ttf') format('truetype');
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: tajawal;
}

.toast-background {
  background-color: #3da241;
}

.toast-background-err {
  background-color: #e74c3c;
}

.toast-body {
  color: #fff;
  font-family: tajawal;
  font-size: 1.2em;
}

.toast-progress {
  background: linear-gradient(-12deg, #afe6cd, #bbd487);
}

.toast-progress-err {
  background: linear-gradient(116deg, #f3f0c7, #eab75f);
}

.button-gold{
  background-color: #cba135;
  font-size: 1em;
  border:  #cba135 solid 5px;
}

.button-gold:hover{
  background-color: transparent;
  color: #cba135;
  font-size: 1em;
  border:  #cba135 solid 5px;
}

.color-light-pink {
  color: #ffdcd3;
}

.color-light-gold {
  color: #fff3e6;
}